<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingdong/bingdongdoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,145}}</string>
                <key>sourceSize</key>
                <string>{158,145}</string>
            </dict>
            <key>bingdong/bingdongxingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,449},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>bingdong/saoguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,595},{52,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,70}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>bingdong/saoguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,832},{94,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,125}}</string>
                <key>sourceSize</key>
                <string>{94,125}</string>
            </dict>
            <key>bingdong/saoguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>bingdong/saoguang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,667},{51,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,76}}</string>
                <key>sourceSize</key>
                <string>{51,76}</string>
            </dict>
            <key>bixue/bixue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,270},{28,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,64}}</string>
                <key>sourceSize</key>
                <string>{28,64}</string>
            </dict>
            <key>bixue/bixue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,824},{44,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,64}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>bixue/bixue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,534},{68,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,59}}</string>
                <key>sourceSize</key>
                <string>{68,59}</string>
            </dict>
            <key>bixue/bixue4.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,831},{75,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,55}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>bixue/bixue5.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,745},{77,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,45}}</string>
                <key>sourceSize</key>
                <string>{77,45}</string>
            </dict>
            <key>bixue/wenhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,800},{130,129}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{130,129}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>fankun/fankun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,667},{130,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>fankun/fankun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,558},{130,135}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{130,135}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>fankun/fankun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,534},{130,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>fankun/fankun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,695},{130,135}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{130,135}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>fankun/fankun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,145},{142,139}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{142,139}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>fanu/nu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,695},{134,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{134,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>fanu/nu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{154,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{154,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>guilian/guilian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,808},{130,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>guilian/guilian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,675},{130,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>guilian/guilian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,542},{130,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>guilian/guilian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,814},{130,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>guzhang/guzhang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,145},{136,135}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{136,135}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>guzhang/guzhang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,558},{130,135}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,135}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>guzhang/guzhang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,138},{130,133}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{130,133}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>guzhang/guzhang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,135},{130,133}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{130,133}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>jiong/jiongdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,411},{130,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{130,129}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>jiong/zhui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,393},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,36}}</string>
                <key>sourceSize</key>
                <string>{54,36}</string>
            </dict>
            <key>jiong/zhui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,890},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>jiong/zhui3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,831},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>jiong/zhui4.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,899},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{54,60}</string>
            </dict>
            <key>jiong/zhui5.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,888},{54,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,61}}</string>
                <key>sourceSize</key>
                <string>{54,61}</string>
            </dict>
            <key>ku/kuku1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{136,131}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{136,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>ku/kuku2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{136,131}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{136,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>ku/kuku3.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{136,131}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{136,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>ku/kuku4.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,145},{136,131}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{136,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>liuhan/hanshui.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,336},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,55}}</string>
                <key>sourceSize</key>
                <string>{30,55}</string>
            </dict>
            <key>liuhan/liuhandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,400},{130,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{130,129}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>liuhan/liuxiandiyanjing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,941},{87,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,16}}</string>
                <key>sourceSize</key>
                <string>{87,16}</string>
            </dict>
            <key>liuhan/liuxiandiyanjing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,941},{87,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,16}}</string>
                <key>sourceSize</key>
                <string>{87,16}</string>
            </dict>
            <key>liuhan/liuxiandiyanjing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{87,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,16}}</string>
                <key>sourceSize</key>
                <string>{87,16}</string>
            </dict>
            <key>shangxiang/saoxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,681},{130,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>shangxiang/saoxiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,548},{130,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>shangxiang/saoxiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,415},{130,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>shihua/shihua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,402},{130,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>shihua/shihua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,135},{130,133}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,133}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>shihua/shihua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,693},{130,133}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,133}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>tiaopi/tiaopi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,270},{130,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>tiaopi/tiaopi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,267},{130,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>tiaopi/tiaopi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,278},{130,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>tiaopi/tiaopi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,282},{130,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>tiaopi/tiaopi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,278},{130,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>toukui/toukuidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,828},{130,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{130,129}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>toukui/wei11.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,493},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,35}</string>
            </dict>
            <key>toukui/wei22.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,928},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>toukui/yanqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,941},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>weiqu/weiqu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{130,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{130,139}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>weiqu/weiqu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{130,141}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{130,141}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>weiqu/weiqu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{138,141}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{138,141}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>weiqu/weiqu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{150,141}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{150,141}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>weiqu/weiqu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{158,141}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{158,141}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>xianmu/xianmu (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{290,286},{130,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>xianmu/xianmu (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{280,425},{130,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>xianmu/xianmu (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{158,292},{130,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>xianmu/xianmu (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{148,425},{130,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{130,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>xianmu/xianmu (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{398,558},{130,133}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{130,133}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>yeyeye/1yeyeye.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{134,131}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{134,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>yeyeye/2yeyeye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{144,131}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{144,131}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>biaoqingALL0.png</string>
            <key>size</key>
            <string>{996,959}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22a3b4abba991099a817e88206047fd0:1/1$</string>
            <key>textureFileName</key>
            <string>biaoqingALL0.png</string>
        </dict>
    </dict>
</plist>
