<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BB_bamboo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_bamboo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,94},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_bamboo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,184},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_bamboo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,274},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_bamboo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,364},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_bamboo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,4},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_bamboo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,4},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_bamboo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,4},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_bamboo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,4},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_character_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,4},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_character_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,65},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_character_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,65},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_character_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,65},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_character_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,65},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_character_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,94},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_character_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,184},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_character_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,274},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_character_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,364},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_dot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,126},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_dot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,126},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_dot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,126},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_dot_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,184},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_dot_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,245},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_dot_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,335},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_dot_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,425},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_dot_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,245},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_dot_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,335},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,425},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,187},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,245},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_wind_east.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,248},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_wind_north.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,309},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_wind_south.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,399},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>BB_wind_west.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,309},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>ee_mj_b_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,399},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Z_bottom.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4950398a15c644e5d202baf5da4062d2:1/1$</string>
            <key>textureFileName</key>
            <string>Z_bottom.png</string>
        </dict>
    </dict>
</plist>
