<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MM_bamboo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_bamboo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,4},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_bamboo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,4},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_bamboo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,4},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_bamboo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,85},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_bamboo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,85},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_bamboo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,85},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_bamboo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,85},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_bamboo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,166},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_character_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,166},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_character_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,166},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_character_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,166},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_character_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,247},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_character_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,247},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_character_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,247},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_character_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,247},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_character_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,328},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_character_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,328},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_dot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,328},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_dot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,328},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_dot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,409},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_dot_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,409},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_dot_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,409},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_dot_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,409},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_dot_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,490},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_dot_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,490},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_dot_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,490},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,490},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,571},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,686},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_wind_east.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,801},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_wind_north.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,916},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_wind_south.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,571},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>MM_wind_west.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,686},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Z_my.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60abe316f329e133f7bdbfe59e52caf6:1/1$</string>
            <key>textureFileName</key>
            <string>Z_my.png</string>
        </dict>
    </dict>
</plist>
